  /* medidas responsivas */

  @media (max-width: 991.98px) {

    header .container {
      display: flex;
      flex-direction: column;
    }

    .dropdown-menu {
      position: static !important;
      min-width: 100%;
      white-space: normal;
      word-break: break-word;
      border: none;
      box-shadow: none;
    }

    .banner {
      position: relative;
      height: 80vh;
      background: linear-gradient(to right, rgba(0,45,90,0.9) 30%, rgba(4, 39, 73, 0.534) 60%, rgba(5, 50, 94, 0.488) 100%), 
                  url('../img/banner-oficial.jpg') no-repeat center center;
      background-size: cover;
      color: white;
      display: flex;
      align-items: center;
    }

    .content h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .content h2 {
      font-size: 20px;
      color: #99b515;
      margin-bottom: 20px;
      font-weight: 600;
      text-align: center;
    }
  
    .content p {
      letter-spacing: -0.01em;
      font-size: 1.125rem;
      line-height: 1.32;
      font-size: 18px;
      text-align: center;
    }

    .boton button {
      display: block;
      margin: auto;
    }
    
  }

  @media (max-width: 768px) {
    .dropdown-menu {
      position: static !important;
      min-width: 100%;
      white-space: normal;
      word-break: break-word;
      border: none;
      box-shadow: none;
    }

    .banner {
      position: relative;
      height: 80vh;
      background: linear-gradient(to right, rgba(0,45,90,0.9) 30%, rgba(4, 39, 73, 0.534) 60%, rgba(5, 50, 94, 0.488) 100%), 
                  url('../img/banner-oficial.jpg') no-repeat center center;
      background-size: cover;
      color: white;
      display: flex;
      align-items: center;
    }

    .content {
      max-width: 800px;
    }

    .content h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .content h2 {
      font-size: 20px;
      color: #99b515;
      margin-bottom: 20px;
      font-weight: 600;
      text-align: center;
    }
  
    .content p {
      letter-spacing: -0.01em;
      font-size: 1.125rem;
      line-height: 1.32;
      font-size: 18px;
      text-align: center;
    }

    .boton button {
      display: block;
      margin: auto;
    }
    
  }